body {
  font-family: 'Poppins', sans-serif;
}

.box{
  background-color: lightcoral;
  color: cornflowerblue;
  /* padding: 20px; */
  width: 300px;
  /* padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 100px; */ 
  /* padding-left: 60px; */
  /* TOP RIGHT BOTTOM LEFT */
  /* padding: 20px 40px 100px 60px; */
  /* padding: 20px 40px; top bottom and left right */
  /* padding: 20px 40px 30px;top left-right bottom */
}