body {
  font-family: 'Arial', sans-serif;
}
.container{
  max-width: 1100px;
  margin: 30px auto;
}
.box{
  width: 100px;
  height: 100px;
  background: forestgreen;
  animation: animate1 2s;
  /* animation-delay: 2s; */
  /* animation-iteration-count: 3; */
  animation-fill-mode: forwards;
  /* animation-direction: reveres; */
  animation-timing-function: linear;
  position: absolute;
}

@keyframes animate1{
  from{
    width: 100px;
    background-color: forestgreen;
    top: 0;
  }
  to{
    width: 500px;
    background-color: fuchsia;
    top: 100vh;
  }
}
